*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.quiz_container{
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}

.quiz_info{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.question_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px grey;
  padding: 20px;
}

.options{
  width: 100%;
  display: grid;
  grid-template-columns: [first] 50% [line2] 50%
}

.option{
  margin: 5px 30px;
  min-height: 30px;
  max-height: fit-content;
  border: solid 1px grey;
  padding: 5px;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.colour_key{
  display: flex;
  gap: 10px;
}

.text_red{
  color: red;
}

.text_green{
  color: green;
}